<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">

  <section class="content-header">
    <div class="ui padded segment" style="height: 130px;">
      <h3 class="search-header ui dividing header">Search Products</h3>
    
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="input-group filter-pane"> 
            <input  
              type="text" 
              class="form-control"
              aria-label="Product Search"
              id="keywords" 
              name="keywords" 
              placeholder="Search Products..."
              (keyup)="searchTerm$.next($event.target.value); search($event)">

            <div 
              class="input-group-btn">
              <button 
                style="width: 250px;" type="button" 
                class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories 
                <span class="caret"></span>
              </button>
              <ul 
                class="dropdown-menu dropdown-menu-right">
                <li routerLinkActive="active" *ngFor="let category of categories">
                  <a (click)="filterProducts(category)">{{ category.name }}
                </a>
                </li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div><!-- /.col-*-* -->
      </div><!-- /.row -->
    </div>
  </section>




  <section class="content">
    <div 
      *ngIf="products" 
      class="ui four stackable cards">
        <ng-container *ngFor="let product of products | paginate: { id: 'server', itemsPerPage: 20, currentPage: page, totalItems: total }">
        <div 
          class="card">
          <a class="image" routerLink="/products/{{ product.id }}">
            <img
              style="height: 320px;" 
              [src]="product.images.AP?.front">
          </a>
          <div  
            class="content">
            <a class="header" routerLink="/products/{{ product.id }}">{{ product.name?.AP }}</a>
            <div class="meta price">
              <!-- {{ product.priceRange }} -->
            </div>
            <div class="description">
              <p>Brand: {{ product.millName?.AP }} </p>

              <p>SKU: {{ product.sku?.AP }} </p>

              <p>Color: {{ product.colorName?.AP }}</p>

              <p>Size: {{ product.sizeName?.AP }}</p>

              <!-- {{ product.description.AP }} -->
            </div>
          </div>
          <button 
            (click)="onProductAdded(product)"
            *ngIf="!isProductOnImportList(product)"
            class="ui labeled icon blue button">
            <i class="plus icon"></i>
            Add to Import List
          </button>
          <button 
            (click)="onRemoveProductFromImpList(product)"
            *ngIf="isProductOnImportList(product)"
            class="ui labeled icon red button">
            <i class="minus icon"></i>
            Remove 
          </button>
        </div>
      </ng-container>
    </div>

  </section>
  <div class="ui padded segment text-center ui-segment view-more">
    <pagination-controls
      (pageChange)="getProducts($event)" 
      id="server"
    >
    </pagination-controls>
    <!-- <button class="ui labeled icon blue button">
      View More
    </button> -->
  </div>
</div>

