<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="wrapper">

  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h2>
      Dashboard 
    </h2>
    <!-- <pre>{{ profile | json }}</pre> -->
  </section>

  <div class="ui padded segment text-center ui-segment">
    <h1>Build Your Business With Blankstyle</h1>
    <span class="">Below is a short checklist we recommend finishing to make your store a success.</span>
  </div>

  <section class="content">
    <div class="box">         
      <div class="list-group">
        <a href="https://www.shopify.com/"  target="_blank"
          class="list-group-item clearfix">
          <i class="arrow circle right icon dashboard-icon"></i>
          Create a Shopify store.
          <span class="pull-right">
            <div class="ui primary basic button dashboard-btn">Create a Store</div>
          </span>
        </a>

        <a href="/login"
          class="list-group-item clearfix">
          <i class="linkify icon dashboard-icon"></i>
          Connect your Shopify store.
          <span class="pull-right">
            <div class="ui primary basic button dashboard-btn">Connect a Store</div>
          </span>
        </a>
        <a 
          class="list-group-item clearfix" routerLink="/search">
          <i class="recycle icon dashboard-icon"></i>
          Find and add your first product!
          <span class="pull-right">
            <div class="ui primary basic button dashboard-btn">Find Products</div>
          </span>
        </a>
        <a class="list-group-item clearfix">
          <i class="book icon dashboard-icon"></i>
          Make your first sale.
          <span class="pull-right">
            <div class="ui primary basic button dashboard-btn">Learn Marketing</div>
          </span>
        </a>
      </div>
    </div>
  </section>

  <div class="ui padded segment text-center ui-segment learn-dropshipping">
    <h1>Learn Dropshipping</h1>
  </div>

  <div class="container-fluid">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img style="height: 270px;" src="https://i.pinimg.com/736x/2e/8e/ef/2e8eefb2d029646d95950bcd6f5cf7f1.jpg">
          </div>
          <div class="content">
            <a class="header">What is Dropshipping? How does it work?</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="https://static-modalyst-co.s3.amazonaws.com/landing/images/dropshipping/screen-4.cb28297429ce.jpg">
          </div>
          <div class="content">
            <a class="header">Selecting the Perfect Products for your store.</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img style="height: 270px;" src="http://vimalapparels.com/img/formal/formal1.jpg">
          </div>
          <div class="content">
            <a class="header">How to Select the best products for your category.</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-in-between"></div>

  <!-- Main content -->
  <section class="content">
  <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">

        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Latest Orders</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Item</th>
                  <th>Status</th>
                  
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">OR9842</a></td>
                    <td>Call of Duty IV</td>
                    <td><span class="label label-success">Shipped</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR1848</a></td>
                    <td>Samsung Smart TV</td>
                    <td><span class="label label-warning">Pending</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR7429</a></td>
                    <td>iPhone 6 Plus</td>
                    <td><span class="label label-danger">Delivered</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR7429</a></td>
                    <td>Samsung Smart TV</td>
                    <td><span class="label label-info">Processing</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR1848</a></td>
                    <td>Samsung Smart TV</td>
                    <td><span class="label label-warning">Pending</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR7429</a></td>
                    <td>iPhone 6 Plus</td>
                    <td><span class="label label-danger">Delivered</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR9842</a></td>
                    <td>Call of Duty IV</td>
                    <td><span class="label label-success">Shipped</span></td>
                    
                  </tr>
                  <tr>
                    <td><a href="#">OR9842</a></td>
                    <td>Call of Duty IV</td>
                    <td><span class="label label-success">Shipped</span></td>
                    
                  </tr>
                </tbody> 
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a routerLink="/search" 
              class="btn btn-sm btn-info btn-flat pull-left">Add More Products to Your Store
            </a>

            <a routerLink="/orders" 
              class="btn btn-sm btn-default btn-flat pull-right">
              View All Orders
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      
      
      <div class="col-md-4">
        <!-- PRODUCT LIST -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Browse Products By Category</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                  <img src="https://www.dhresource.com/200x200s/f2-albu-g5-M00-E9-1F-rBVaJFkag7eAJMmiAALK_60cwOc785.jpg/2017-new-flag-usa-tshirt-men-fashion-american.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">T-Shirts
                    <span class="label label-warning pull-right">$10 - $1,000</span></a>
                  <span class="product-description">
                        T-Shirts, Fleece, Shorts
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="https://www.dhresource.com/200x200s/f2-albu-g5-M00-27-C8-rBVaI1jEKVaAdorpAAEfcrTxPlY273.jpg/wholesale-women-casual-knitted-jean-jacket.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Outerwear 
                    <span class="label label-info pull-right">$700</span></a>
                  <span class="product-description">
                        26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="https://www.dhresource.com/200x200s/f2-albu-g5-M00-84-17-rBVaJFlmzwGAHTdeAAFfamjWO6A106.jpg/drop-shipping-famous-players-lb-14-james.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Shoes 
                  <span class="label label-danger pull-right">$350</span></a>
                  <span class="product-description">
                        Xbox One Console Bundle with Halo Master Chief Collection.
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="https://www.dhresource.com/200x200s/f2-albu-g5-M00-81-39-rBVaJFliSHeAW5hkAAEJt_-SVvU117.jpg/2017-good-quality-italian-brand-polo-shirts.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Polos
                    <span class="label label-success pull-right">$399</span></a>
                  <span class="product-description">
                        PlayStation 4 500GB Console (PS4)
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="https://qph.ec.quoracdn.net/main-thumb-t-37074-200-cwfcsxmeeinmdbhncadtnruqayqfhmyh.jpeg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Brands
                    <span class="label label-success pull-right">$399</span></a>
                  <span class="product-description">
                        PlayStation 4 500GB Console (PS4)
                      </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Categories</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
    

    </div>
    <!-- /.row -->
  </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; 2017 <a routerLink="/">Blankstyle</a>. </strong> All rights
    reserved.
  </footer>
</div>