.ui.padded.segment.ui-segment {
  background-color: #ECF0F5;
}
.ui.segment.ui-segment {
  box-shadow: 0px 0px 0px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0;
  border: rgba(34, 36, 38, 0.15);
}
.ui.segment.learn-dropshipping {
  margin-top: -2%;
}
.ui.segment.view-more {
  margin-top: 2%;
}
.ui.cards > .card > .content, .ui.card > .content {
  min-height: 20%;
}
.ui.primary.button.dashboard-btn {
  width: 200px;
}
a.list-group-item, button.list-group-item {
  padding: 20px;
}
i.icon.dashboard-icon {
  font-size: 1.8rem;
}
.product-list-in-box > .item {
  padding-top: 9px;
  padding-bottom: 9px;
}
.space-in-between {
  margin-top: 5%;
  margin-bottom: 5%;
}
.ui.cards > .card, .ui.card {
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  transition: 0.3s ease;
  width: 40%;
  border-radius: 5px;
}
.ui.card:hover, .ui.cards > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(46,61,73,0.3);
}
img {
  border-radius: 5px 5px 0 0;
}
.ui.cards > .card .meta, .ui.card .meta.price {
  color: #D73C3C;
  font-size: 1.1rem;
}
.ui.labeled.icon.buttons .button, .ui.labeled.icon.button {
  padding-left: 1.07142857em !important;
  font-size: 1.2rem;
}
.ui.fluid.card {
  height: 100%;
  max-height: 9999px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 270px;
}
/* @media (min-width: 768px) */
.sidebar-mini.sidebar-collapse .main-sidebar { 
  position: fixed;
}
.main-sidebar {
  position: fixed;
}
.skin-blue .content-header {
  margin-top: 45px;
}
.filter-pane {
  padding-bottom: 30px;
}
.ui.message {
  line-height: 2.3em;
  padding: 0.5em 0.6em;
}
.ui.card-list {
  width: 100%;
}
.ui.card-list-image {
  height: 300px;
}
.ui.cards > .card > .content, .ui.card > .content {
  border-top: 0px;
}
.list-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
.all-product-row {
  margin-top: 2%;
  margin-bottom: 2%;
}
.shop-sidebar-menu {
  padding: 0;
  margin: 0;
  color: black;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #e1e8f0;
  border-radius: 4px;
  background-clip: padding-box;
}
.shop-sidebar-menu a {
  color: black !important;
}
i.connect-shop {
  font-size: 40px; 
  float: left; 
  height: 40px; 
  width: 40px; 
  margin-top: 2%;
}
span.connect-shop-span {
  padding-left: 1%;     
  padding-left: 1%; 
  margin-top: 2%; 
  font-size: 18px; 
  display: inline-grid;
}

.ui.checkbox .box:before, .ui.checkbox label:before {
  height: 14px;
  width: 14px;
}

.ui.checkbox .box:after, .ui.checkbox label:after {
  height: 14px;
  width: 14px;
}

.radio label, .checkbox label {
  padding-left: 10px;
}


/** Auth Navbar **/

.navbar-default {
  background-color: #ffffff;
  border-color: #3c8dbc;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3c8dbc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3c8dbc;
}
.navbar-default .navbar-toggle {
  border-color: #3c8dbc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3c8dbc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3c8dbc;
  }
}


/** Footer */
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
  background-color: #1D2731;
  color: #FFF;
}






  