<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper" *ngIf="order">
  <section class="content-header">
    <div class="ui padded segment">
      <h3 style="color: #4183C4; font-size: 20px;">{{ order.orderId }}</h3>
    </div>
  </section>

  <div class="ui small breadcrumb" style="margin-top: 1.5%; background-color: #ECF0F5;">
    <a (click)="goBack()" class="section"> <i class="backward icon"></i> Back to Order List</a>
  </div>

  <div class="content">
    <div class="ui card" style="width: 100%; padding: 3%;">
      <div class="row">
        <div class="col-md-4">
          <h6><i class="credit card alternative icon"></i>Order Number</h6>
          <h4 style="margin-left: 8%;">{{ order.orderId }}</h4>
        </div>
        <div class="col-md-4">
          <h6><i class="shipping icon"></i>
          <strong>Shipping</strong></h6>
          <img style="width: 50px; height: 50px; margin-left: 6%;" src="https://4.bp.blogspot.com/-YWJ6bT68RHw/Vydw1dd1IzI/AAAAAAAABXk/jrL8wT0hIY4dUzk14X3NSpB3vxHByO87wCLcB/s1600/dhl.png">
        </div>
        <div class="col-md-4">
          <h6><i class="checked calendar icon"></i><strong>
          Order Date</strong></h6>
          <h4 style="margin-left: 6%;">{{ order.orderDate | date: 'shortDate' }}</h4>
        </div>
      </div>
      <div style="margin: 1%;"></div>
      <div class="row">
        <div class="col-md-4">
          <h6><i class="marker icon"></i>
          <strong> Item Location</strong></h6>
          <address> 
            ABCD Warehouse <br>
            125 Sane Street <br>
            Building 34 A. <br>
            Springfield, ST 54321<br>
            example@email.com <br>
            +1 895 827280 
          </address>
          
        </div>
        <div class="col-md-4">
          <h6><i class="ship icon"></i><strong>Shipping To</strong> </h6>
          <address>
            Jane Smith <br>
            1234 Main Street <br>
            Apt. 4B <br>
            Minnesota, MN 52341 <br>
            example@email.com <br>
            +1 895 827280 
          </address>
        </div>
        <div class="col-md-4">
          <h6><i class="calendar outline icon"></i><strong>Delivery</strong></h6>
          <address>
            Estimated Delivery <br>
            {{ order.orderDate | date: 'shortDate' }}
          </address>
        </div>
        <!-- <div class="col-md-3">
          <h6><i class="calendar outline icon"></i><strong>Payment Method</strong></h6>
          <address>
            Visa ending **** 4242<br>
            jsmith@email.com
          </address>
        </div> -->
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-9">
        <h4 style="margin-bottom: 3%; margin-left: 1%;">
        ORDER INFORMATION</h4>

         <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>Order summary</strong></h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                                    <tr>
                          <td><strong>Item</strong></td>
                          <td class="text-center"><strong>Price</strong></td>
                          <td class="text-center"><strong>Quantity</strong></td>
                          <td class="text-right"><strong>Totals</strong></td>
                                    </tr>
                    </thead>
                    <tbody>
                      <!-- foreach ($order->lineItems as $line) or some such thing here -->
                      <tr>
                        <td>BS-200</td>
                        <td class="text-center">$10.99</td>
                        <td class="text-center">1</td>
                        <td class="text-right">$10.99</td>
                      </tr>
                                    <tr>
                          <td>BS-400</td>
                        <td class="text-center">$20.00</td>
                        <td class="text-center">3</td>
                        <td class="text-right">$60.00</td>
                      </tr>
                                    <tr>
                            <td>BS-1000</td>
                        <td class="text-center">$600.00</td>
                        <td class="text-center">1</td>
                        <td class="text-right">$600.00</td>
                      </tr>
                      <tr>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line text-center"><strong>Subtotal</strong></td>
                        <td class="thick-line text-right">$670.99</td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Shipping</strong></td>
                        <td class="no-line text-right">$15</td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Total</strong></td>
                        <td class="no-line text-right">$685.99</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div style="margin-left: 3%;" class="col-md-2">
        <h4 style="margin-left: 1%;">ORDER TOTAL</h4>
        <div class="ui card" style="width: 100%; padding: 15%; background-color: #3C8DBC; color: white; margin-top: 18%;">
          <h1>{{ order.orderTotal }}</h1>
        </div>

        <div class="ui card" style="width: 100%; padding: 5%; margin-top: 5%;">
          <h6><i class="calendar outline icon"></i><strong>Payment Method</strong></h6>
          <address>
            <img style="height: 50px; width: 50px; margin-left: 30%;" src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png">
            <br>
            <!-- <b>Visa</b> <br> --> 
            ending **** 4242<br>
            jsmith@email.com
          </address>
        </div>
      </div>
    </div>
  </div>

</div>