<div class="row">
  <div class="col-md-4">
    <div style="width: 100%" class="ui card">
      <div class="content">
        <div style="padding: 0px 15px 15px 0px;" class="ui dividing header">
          <h4>Current Plan</h4>
        </div>
      </div>
      <div class="content">
        <p class="h5">In order to select a plan you need to connect a shopify store.</p>
        <button style="margin-top: 2%;" class="ui blue button">Connect a Store</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div style="width: 100%" class="ui card">
      <div class="content">
        <div style="padding: 0px 15px 15px 0px;" class="ui dividing header">
          <h4>Payment Method</h4>
        </div>
      </div>
      <div class="content">
        <h4>Your current payment method: Shopify Payments</h4>
        <p>Payment for ABCD monthly subscription will be included on your Shopify invoice.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="content">
<div class="row">
  <div class="col-md-12">
    <div style="width: 100%" class="ui card">
      <div class="content">
        <div style="padding: 0px 15px 15px 0px;" class="ui dividing header">
          <h4>Invoices</h4>
        </div>
      </div>
      <div class="content">
        <p>You will be able to see your invoices here after a shop is connected.</p>
      </div>
    </div>
  </div>
</div>
