<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Company</h4>
        <div class="ui inverted link list">
          <a class="item">Our Team</a>
          <a class="item">Affliates</a>
          <a class="item">Reviews</a>
          <a class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Resources</h4>
        <div class="ui inverted link list">
          <a class="item">Link One</a>
          <a class="item">Link Two</a>
          <a class="item">Link Three</a>
          <a class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Dropshipping</h4>
        <div class="ui inverted link list">
          <a class="item">Link One</a>
          <a class="item">Link Two</a>
          <a class="item">Link Three</a>
          <a class="item">Link Four</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">With Blankstyle Shopify Dropshipping is easier.</h4>
        <p>Blankstyle allows you to easily import dropshipped products into your shopify store.</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item">Copyright 2017 Blankstyle</a>
      <a class="item">Contact Us</a>
      <a class="item">Terms and Conditions</a>
      <a class="item">Privacy Policy</a>
    </div>
  </div>
</div>