<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper" *ngIf="product">
  <section class="content-header">
    <div class="ui padded segment">
      <h3 style="color: #4183C4; font-size: 30px;">
        {{ product.name?.AP }}
      </h3>
    </div>
  </section>

 
  <div class="ui small breadcrumb" style="margin-top: 1.5%; background-color: #ECF0F5;">
    <a (click)="goBack()" class="section"> <i class="backward icon"></i> Back to Product List</a>
  </div>


  <div class="content">
    <div class="ui card" style="width: 100%;">
      <div class="row">
        <div class="col-md-5 col-lg-4 col-sm-6 col-xs-5">
          <div class="image">
            <ngx-gallery 
              [options]="galleryOptions" 
              [images]="galleryImages"> 
            </ngx-gallery>
          </div>
        </div>
        <!-- <div class="col-md-5 col-lg-4 col-sm-6 col-xs-5">
          <div class="image">
            <img 
              style="height: 400px; width: 350px;" 
              [src]="product.images.AP.front">
          </div>
          <div class="row" style="padding-left: 3%; padding-top: 2%;">
            <div class="col-md-3 col-sm-5 col-xs-5">
              <div class="thumbnail">
                <img 
                  style="height: 80px; 
                  width: 100px;" 
                  [src]="product.imageUrl">
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5">
              <div class="thumbnail">
                <img 
                  style="height: 80px; 
                  width: 100px;" 
                  [src]="product.imageUrl">
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5">
              <div class="thumbnail">
                <img 
                  style="height: 80px; 
                  width: 100px;" 
                  [src]="product.imageUrl">
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5">
              <div class="thumbnail">
                <img 
                  style="height: 80px; 
                  width: 100px;" 
                  [src]="product.imageUrl">
              </div>
            </div> 
          </div>
        </div> -->
        <div class="col-md-7 col-lg-8 col-sm-6 col-xs-7">
          <div class="content">
            <a style="font-size: 30px;" class="header">
              {{ product.name?.AP }}
            </a>
            <div style="margin-top: 2%; margin-bottom: 3%; font-size: 15px;" class="description">
              {{ product.millName?.AP }}
            </div>
            <hr>
            <div class="row">
              <div style="font-size: 18px; margin-bottom: 6%;" class="col-md-3 meta">
                Color
              </div>
              <div class="col-md-9">
                <button class="ui circular facebook icon button">
                  <i class="icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                  <i class="icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                  <i class="icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                  <i class="icon"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div style="font-size: 18px; margin-bottom: 5%;" class="col-md-3 meta">
                Available Sizes
              </div>
              <div class="col-md-9">
                <div class="ui basic buttons">
                  <div class="ui button">S</div>
                  <div class="ui button">M</div>
                  <div class="ui button">L</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="font-size: 18px; margin-bottom: 3%;" class="col-md-3 meta">
                Shipping
              </div>
              <div class="col-md-9">
                ...
              </div>
            </div>
            <div class="row">
              <div style="font-size: 18px" class="col-md-3 meta">
                Processing Time
              </div>
              <div class="col-md-9">
                ...
              </div>
            </div>
            <hr>
            <div 
              class="row" 
              style="margin-top: 10%;">
              <div 
                class="col-md-6">
                <div 
                  style="font-size: 20px;     padding-top: 4%; color: red;"
                  class="header">
                  {{ product.priceRange }}
                </div>
              </div>
              <div class="col-md-6">
                <button 
                  (click)="onProductAdded(product)"
                  *ngIf="!isProductOnImportList(product)"
                  style="width: 250px;"
                  class="ui labeled icon blue button">
                  <i class="plus icon"></i>
                    Add to Import List
                </button>
                <button 
                  (click)="onRemoveProductFromImpList(product)"
                  *ngIf="isProductOnImportList(product)"
                  style="width: 250px;"
                  class="ui labeled icon red button">
                  <i class="minus icon"></i>
                  Remove 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="ui card" style="width: 100%; padding: 2%;">
      <div class="row" style="border-bottom: 1px solid #ECF0F5;">
        <div class="col-xs-12">
          <div class="extra">
            <span class="left floated">
              <h4 style="margin-bottom: 10%;">Product Description</h4>
            </span>
          </div>
        </div>
        
      </div>
      <div class="row" style="padding-top: 1%;">
        <div class="col-md-2">
          <h4>Item Type: </h4>
        </div>
        <div class="col-md-10">
          <p class="h5">Something </p>
        </div>
      </div>
      <div class="row" style="padding-top: 0.5%;">
        <div class="col-md-2">
          <h4>Gender: </h4>
        </div>
        <div class="col-md-10">
          <p class="h5"> Women </p>
        </div>
      </div>
      <div class="row" style="padding-top: 0.5%;">
        <div class="col-md-2">
          <h4>Brand Name: </h4>
        </div>
        <div class="col-md-10">
          <p class="h5">Something </p>
        </div>
      </div>
    </div>
  </div>

  <section style="margin-top: -5%;" class="content-header">
    <div style="background-color: #ECF0F5;" class="ui padded segment">
      <h3>Similar Products</h3>
    </div>
  </section>

  <div class="content">
    <div class="ui four stackable cards">
      <div class="card" *ngFor="let product of similarProducts">
        <a class="image" routerLink="/products/{{ product.id }}">
          <img
            style="height: 320px;" 
            [src]="product.images.AP?.front">
        </a>
        <div class="content">
          <!-- <i class="right floated trash outline icon"></i> -->
          <a class="header" routerLink="/products/{{ product.id }}">{{ product.name?.AP }}</a>
          <div class="meta price">
            {{ product.priceRange }}
          </div>
          <div class="description">
            {{ product.millName?.AP }}
          </div>
        </div>
        <button 
          (click)="onProductAdded(product)"
          *ngIf="!isProductOnImportList(product)"
          class="ui labeled icon blue button">
          <i class="plus icon"></i>
            Add to Import List
        </button>
        <button 
          (click)="onRemoveProductFromImpList(product)"
          *ngIf="isProductOnImportList(product)"
          class="ui labeled icon red button">
          <i class="minus icon"></i>
          Remove 
        </button>
      </div>
    </div>
  </div>
</div>
