<!-- <div class="content-wrapper"> -->
  <!-- <section class="content-header">
    <div class="ui padded segment">
      <h3>Profile Settings</h3>
    </div>
  </section> -->

  <section class="content" style="margin-top: -1%;">
    <div class="ui cards">
      <div style="width: 100%;" class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="Email">Your Name: </label>
                  <input type="email" class="form-control" id="" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="Password">New Password</label>
                  <input type="password" class="form-control" id="" placeholder="Password">
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email: </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password: </label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <div style="width: 150px;" class="ui blue button">Save Profile</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- </div> -->