<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <div class="ui padded segment">
      <h3>Settings</h3>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
         <ab-settings-sidebar></ab-settings-sidebar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>