<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <div class="ui padded segment">
      <h3>Manage Products</h3>
    </div>
  </section>


  <section class="content">
    <!-- <div class="ui tiny red message">
      <div class="row">
        <div class="col-md-10 col-sm-8 col-xs-7">
          <i class="fa fa-bell" style="margin-right: 0.5%; margin-left: 1%;"></i>  Show this message box if there's no item in Product List or When Shop is not yet connected to Shopify.
        </div>
        <div class="col-md-2 col-sm-4 col-xs-5">
          <button class="mini right floated ui basic blue button connect-shop-btn">
            Connect A Shop
          </button>
        </div>
      </div>
    </div> -->


    <section 
      *ngIf="storeProductListEmpty()" 
      style="min-height: 100%; margin-top: 3%;" class="content"> 
      <section class="ui container center aligned">
        <div style="background-color: #ECF0F5;" class="ui very padded segment">
          <i style="font-size: 20rem; color: azure;" class="fa fa-envelope-open-o" aria-hidden="true"></i>
          <h2>Your Product List is Empty</h2>
          <a
            routerLink='/search'  
            style="width: 300px;" 
            class="ui compact labeled icon blue button">
            <i 
              style="color: white;" 
              class="plus icon"></i>
            Add Products to Shop
        </a>
        </div>
      </section>
    </section>

    <div 
      *ngIf="!storeProductListEmpty()" 
      class="ui four stackable cards">
      <div class="card" *ngFor="let product of storeProducts">
        <a class="image" routerLink="/products/{{ product.id }}">
          <img [src]="product.imageUrl">
        </a>
        <div class="content">
          <!-- <i class="right floated trash outline icon"></i> -->
          <a class="header" routerLink="/products/{{ product.id }}">{{ product.name }}</a>
          <div class="meta price">
            {{ product.priceRange }}
          </div>
          <div class="description">
            {{ product.description }}
          </div>
        </div>
        <button 
          (click)="onProductRemoveFromShop(product)"
          class="ui labeled icon red button">
          <i class="minus icon"></i>
          Remove 
        </button>
      </div>
    </div>
  </section>
</div>

