<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <div class="ui padded segment">
      <h3>Import List</h3>
    </div>
  </section>


  <section class="content">
    <div style="height: 100px;" class="ui padded segment">
      <div style="margin-top: 1%;" class="row">
        <div class="col-md-12">
          <div class="input-group filter-pane">
            <input 
              type="text" 
              class="form-control"
              name="keyword" 
              placeholder="Enter Search Keyword"
              [(ngModel)]="term">
          
            <div class="input-group-btn">
              <button 
                style="width: 250px;" 
                type="button" 
                class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
                All Categories 
                <span class="caret"></span>
              </button>
              <ul 
                class="dropdown-menu dropdown-menu-right">
                <li>
                  <a>Women</a>
                </li>
                <li>
                  <a>Men</a>
                </li>
                <li>
                  <a>Shoes</a>
                </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Show this notification if ImportList is Empty -->
    <section *ngIf="importListIsEmpty()" style="min-height: 100%; margin-top: 3%;" class="content"> 
      <section class="ui container center aligned">
        <div style="background-color: #ECF0F5;" class="ui very padded segment">
          <i style="font-size: 20rem; color: azure;" class="fa fa-envelope-open-o" aria-hidden="true"></i>
          <h2>Your Import List is Empty</h2>
          <a
            routerLink='/search'  
            style="width: 350px;" 
            class="ui compact labeled icon blue button">
            <i 
              style="color: white;" 
              class="plus icon"></i>
            Add Product to Import List
        </a>
        </div>
      </section>
    </section>

    <!-- Show the items in ImportList if Import List is not empty -->
    <div *ngIf="!importListIsEmpty()" class="row all-product-row">
      <div class="col-md-3">
        <div style="padding-top: 2%; margin-left: 10%;" class="checkbox list-checkbox">
          <ngl-form-checkbox 
            *ngIf="importLists"
            label="Select All Products" 
            style="font-size: 17px; display: inline-block;">
            <input 
              nglFormControl 
              type="checkbox" 
              [(ngModel)]="checked">
          </ngl-form-checkbox>
        </div>
      </div>
      <div class="col-md-2">
        <div class="ui form">
          <div class="field">
            <div class="ui selection dropdown" suiDropdown autoClose="itemClick">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">
                Bulk Actions
              </div>
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="pushSelectedProductsToShop()">
                  Push Products to Shop</div>
                <div class="item" (click)="removeSelectedProductsFromShop()">
                  Remove from Import List
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button 
          (click)="removeAllProducts()"
          style="width: 200px;" class="ui right floated compact labeled icon basic blue button">
            Remove All Products
        </button>
      </div>
      <div class="col-md-4">
        <button 
          (click)="pushAllProductsToShop()" 
          style="width: 300px;" class="ui compact labeled icon blue button">
          <i style="color: white;" class="plus icon"></i>
            Push All Products to Shop
        </button>
      </div>
    </div>
   
    
    <div 
      *ngIf="!importListIsEmpty()" 
      class="ui list">
      <div style="margin-top: 5%;"
        class="ui card item card-list" *ngFor="let product of importLists | filter:term; let i = index">
        <div style="border-top: 0px !important;" class="extra content">
          <span style="padding-left: 1%; padding-top: 0.5%;" class="left floated">
            <sui-checkbox
              [(ngModel)]="checked" 
              class="checkbox list-checkbox">
            </sui-checkbox>
          </span>
          <span class="right floated">
            <button 
              (click)="onProductPushToShop(product)"
              *ngIf="!isProductInShop(product)"
              style="width: 200px;" 
              class="ui compact labeled icon blue button">
              <i style="color: white;" class="plus icon"></i>
              Push to Shop
            </button>
            <button 
              (click)="onProductRemoveFromShop(product)"
              *ngIf="isProductInShop(product)"
              style="width: 300px;"
              class="ui labeled icon red button">
              <i class="minus icon"></i>
              Remove from Shop
            </button>
          </span>
        </div>
        
        <div style="padding-top: 2%;" class="content row">
          <div class="col-md-3 col-sm-5 col-xs-5 col-lg-3">
            <img 
              style="padding: 2%;" 
              class="ui image card-list-image" 
              [src]="product.images.AP?.front">
          </div>
          <div class="col-md-9 col-sm-7 col-lg-9 col-xs-7">
            <div style="margin-bottom: 4%;" class="header">
              <a>
                <h3>
                  {{ product.name?.AP }}
                </h3>
              </a>
            </div>
      
            <div class="form-group">
              <div style="margin-bottom: 4%;" class="header">
                <a>Description: 
                {{ product.description?.AP }}</a>
              </div>
              <label for="description">Change Description:</label>
              <input 
                type="" 
                class="form-control" 
                id="" 
                placeholder="Change Description" 
                name="" 
                [(ngModel)]="product.description.AP"
                [value]="product.description.AP">
            </div>
            <div class="form-group">
              <div style="margin-bottom: 4%;" class="header">
                <a>Price: {{ product.priceRange }}</a>
              </div>
              <label for="price">Change Price:</label>
              <input type="" 
                class="form-control" 
                id="" 
                placeholder="Change Price"name="" 
                [(ngModel)]="product.priceRange"
                [value]="product.priceRange">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>