<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">

  <section class="content-header">
  <div class="ui padded segment" style="height: 130px;">
    <h3 class="search-header ui dividing header">Order List</h3>
      <div class="row">
        <div 
          class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="input-group filter-pane">
            <input 
              type="text" 
              class="form-control"
              aria-label="Order Search"
              name="keywords"
              id="keywords"
              placeholder="Search Orders..."
              [(ngModel)]="term">

              <div 
                class="input-group-btn">
                <button 
                  style="width: 200px;"
                  type="button" 
                  class="btn btn-default dropdown-toggle" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Status
                  <span 
                    class="caret">
                  </span>
                </button>
                <ul 
                  class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="#">Shipped</a>
                  </li>
                  <li>
                    <a href="#">Processing</a>
                  </li>
                  <li>
                    <a href="#">Cancelled</a>
                  </li>
                </ul>
                <!-- <select class="ui fluid search dropdown" name="">
                  <option value="">Status</option>
                  <option value="1">Shipped</option>
                  <option value="2">Processing</option>
                  <option value="3">Cancelled</option>
                </select> -->
              </div>
          </div>
        </div>

        <div 
          class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="dropdown">
            <button 
              style="width: 220px;" class="ui basic blue button dropdown-toggle" type="button" 
              data-toggle="dropdown">Select Date Range
            </button>
            <ul class="dropdown-menu">
              <li><a>Today</a></li>
              <li><a>Yesterday</a></li>
              <li><a>Last 7 Days</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="content"> 
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">

        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Order List</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-hover no-margin">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Item</th>
                  <th>Status</th>
                  
                </tr>
                </thead>
                <tbody *ngFor="let order of orders | filter:term">
                  <tr>
                    <td><a routerLink="/orders/{{ order.id }}">{{ order.orderId }}</a></td>
                    <td>{{ order.item }}</td>
                    <td><span class="label label-success">{{ order.status }}</span></td>
                  </tr>
                </tbody> 
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a 
              routerLink="/search" 
              class="btn btn-sm btn-info btn-flat pull-left">
              Add More Products to Your Store
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>

