<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{profile?.picture}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ profile?.nickname }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active" class="treeview menu-open">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      
      <li routerLinkActive="active" class="treeview">
        <a>
          <i class="fa fa-pie-chart"></i>
          <span>Products</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a routerLink="/search"><i class="fa fa-circle-o"></i> Search Products</a></li>
          <!-- <li><a href="#"><i class="fa fa-circle-o"></i> Broder Supply</a></li> -->
          <li routerLinkActive="active">
            <a routerLink="/import-list">
              <i class="fa fa-circle-o"></i> Import List
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/products">
              <i class="fa fa-circle-o"></i> My Products
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/orders">
          <i class="fa fa-th"></i> <span>Orders</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->