<ab-navbar></ab-navbar>
<ab-sidebar></ab-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <div class="ui padded segment">
      <h3>Notifications</h3>
    </div>
  </section>

  <section style="min-height: 100%; margin-top: 3%;" class="content"> 
    <section class="ui container center aligned">
      <div style="background-color: #ECF0F5;" class="ui very padded segment">
        <i style="font-size: 20rem; color: azure;" class="fa fa-envelope-open-o" aria-hidden="true"></i>
        <h2>Your Notification List is Empty</h2>
        <h4>You do not have any notification at the moment.</h4>
      </div>
    </section>
  </section>
</div>