<ab-auth-nav></ab-auth-nav>
<div class="jumbotron" style="background-color: #008CCE; padding: 5%;">
  <div class="container text-center">
    <h1 style="color: white;">Find products for your Shopify store.</h1>
    <p>
      <a 
        *ngIf="!isAuthenticated()" 
        (click)="login()"
        style="width: 200px; color: white !important; box-shadow: 0px 0px 0px 1px #FFF inset !important;" class="ui basic blue button" role="button">
        Log In / Sign Up
      </a>
    </p>
  </div>
</div>

<div class="ui segment" style="padding: 1%; border: none; padding-bottom: 7%;">
  <h1 style="font-size: 40px;" class="text-center">Features</h1>
  <p class="text-center" style="padding-top: 1%; padding-bottom: 2%; font-size: 15px;">
    Blankstyle's Shopify dropshipping app simplifies.... 
  </p>
  <div class="ui three stackable cards container-fluid">
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="sign in icon"></i>
        <div class="header" style="padding-top: 10%; font-size: 25px;">Import Products into Your Shopify Store</div>
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>Easily import Blankstyle product supplies into your shopify store.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="pie chart icon"></i>
        <div class="header" style="padding-top: 10%; font-size: 25px;">Fulfil Orders Automatically</div>
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>Have your orders shipped directly to your customers in just a few clicks.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="refresh icon"></i>
        <div class="header" style="padding-top: 10%; font-size: 25px;">Inventory and Price Auto-Updates</div>
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>Know that your inventory and prices are always up to date.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="line chart icon"></i>
        <div class="header" style="padding-top: 10%; font-size: 20px;">
          Pricing Automations
        </div>
        
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>Price your products in bulk</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="checkmark icon"></i>
        <div class="header" style="padding-top: 10%; font-size: 20px;">
          Product Customization
        </div>
        
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>Edit your products as you wish: change titles, descriptions and images.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content text-center">
        <i style="font-size: 6rem; padding-top: 10%; color: cadetblue;" class="location arrow icon"></i>
        <div class="header" style="padding-top: 8%; font-size: 20px;">
          Shipment Tracking
        </div>
        
        <div class="description" style="padding-top: 10%; font-size: 15px;">
          <p>
            Know where your orders are at all times with
            integrated order tracking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ab-footer></ab-footer>