<header class="main-header navbar-fixed-top">
  <!-- Logo -->
  <a routerLink="/dashboard" class="logo">
   <!-- mini Logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>B</b>S</span>
   <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Blankstyle</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
         
        <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li *ngFor="let notification of notifications">
                    <a>
                      <i class="fa fa-warning text-yellow"></i> 
                      {{ notification.description }}
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li> -->
                </ul>
              </li>
              <li routerLinkActive="active" class="footer">
                <a routerLink="/notifications">
                View all
                </a>
              </li>
            </ul>
          </li>
        
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{profile?.picture}}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ profile?.nickname}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{profile?.picture}}" class="img-circle" alt="User Image">

              <p>
                {{ profile?.name}}
               <!--  <small>Member since Nov. 2012</small> -->
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div routerLinkActive="active" class="col-xs-12 text-center">
                  <a 
                    style="width: 200px;" 
                    class="ui blue basic button btn-flat" 
                    routerLink="/settings/subscription">
                    Manage Subscription
                  </a>
                </div>
                
                <!-- <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div> -->
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div routerLinkActive="active" class="pull-left">
                <a 
                  routerLink="/settings/profile"
                  class="ui blue button btn-flat">
                  Profile
                </a>
              </div>
              <div class="pull-right">
                <a 
                  (click)="logout()"
                  class="ui blue button btn-flat">Sign Out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li routerLinkActive="active">
          <a routerLink="/settings"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>