<div class="col-xs-3 col-sm-3 col-md-3 sidebar">
  <nav>
    <ul class="nav nav-sidebar shop-sidebar-menu">
      <li routerLinkActive="active">
        <a [routerLink]="['shops']">
          Connected Shops
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['pricing']">Pricing</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['subscription']">Subscription</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['profile']">Profile</a>
      </li>
    </ul>
  </nav>
</div>