<div class="col-xs-9">
  <div class="ui padded segment" style="height: 130px;">
    <h3 class="search-header ui dividing header" style="padding-bottom: 2%;">Connected Shops</h3>
    <div class="list-group">
      <a class="clearfix" style="padding-top: 1%;">
        <span style="">
          <i class="add circle right icon connect-shop"></i>
          <span class="connect-shop-span">Connect a Shop</span>
        </span>
        <span style="padding-top: 0.5%;" class="pull-right">
          <div class="ui primary basic button dashboard-btn">Connect a Shop</div>
        </span>
      </a>
    </div>
  </div>
</div>