<div class="ui stackable menu">
  <div class="item">
    <img 
      style="height: 50px; width: 250px;" 
      src="http://www.blankstyle.com/sites/all/themes/blankstyle/assets/img/logo.png">
  </div>
  <!-- <div class="right menu">
    <div class="item">
      <div 
        class="ui primary button"
        *ngIf="isAuthenticated()">
        Dashboard
      </div>
    </div>
    <div class="item">
      <div 
        class="ui primary button"
        *ngIf="!isAuthenticated()" 
        (click)="login()">Sign Up
      </div>
    </div>
    <div class="item">
      <div 
        class="ui primary button"
        *ngIf="isAuthenticated()" 
        (click)="logout()">Log Out</div>
    </div>
  </div> -->
</div>
