<h1>Authentication Params</h1>
<p>
  Just to see what gets returned by the server
</p>
<ol>
  <li>Examine parameters returned</li>
  <li>IF authentication exists, store it as a field int he user </li>
  <li>On every request in your Rails api, make sure to include it as access_token parameter </li>
</ol>
<%= @params %>
