<!DOCTYPE html>
<html>
  <head>
    <title>Alphabroder - Dropshipping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= stylesheet_pack_tag    'application' %>
    <% if @base_url %>
      <base href="<%= @base_url %>">
    <% end %>
  </head>

  <body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <%= yield %>
  </body>
</html>
